@import "../../../scss/globals";
@import "../../../scss/variables";
@import "../../../scss/animations";

.top-container {
  z-index: 10;
  height: 200px;
  width: 88%;
  max-width: 1200px;
  padding-top: 25px;
  margin: -100px auto 50px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
  p {
    animation-duration: 1s;
    animation-name: appear;
  }
}

.header {
  z-index: 5;
}
