html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: 0.333s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  background-color: #ececec;
  overflow-x: hidden;
}

.r-block {
  display: block;
  position: relative;
  margin: auto;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}

.checkbox-label {
  z-index: 5;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.z-index {
  z-index: -1;
}

.up {
  animation-duration: 1s;
  animation-name: upAnim;
  animation-fill-mode: forwards;
}

.left {
  animation-duration: 1s;
  animation-name: leftAnim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.down {
  animation-duration: 1s;
  animation-name: downAnim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.rUp {
  animation-duration: 1s;
  animation-name: resetUp;
  animation-fill-mode: forwards;
}

.rLeft {
  animation-duration: 1s;
  animation-name: resetLeft;
  animation-fill-mode: forwards;
}

.rDown {
  animation-duration: 1s;
  animation-name: resetDown;
  animation-fill-mode: forwards;
}
