$white: #fff;
$black: #000;

$grey: #ecedf6;
$dark-grey: #f6f6fa;
$light-grey: #9391ad;
$darkest-grey: #cbcbde;

$light-blue: #dde0ed;
$magenta-blue: #131340;
$dark-blue: #577bf9;

$primary-color: #ef607b;
